@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.accordion-button.toggle {
    background-color: rgb(0, 153, 255);
}

.event-container {
    display: flex;
    background-color: rgb(0, 153, 255);
    width: 83%;
    padding-bottom: 10px;
    margin-top: 20px !important;
    margin: auto;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.activity-name {
    float: right;
    margin-top: 10px !important;
    font-size: 17px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.price {
    float: left;
    margin-top: 10px !important;
    font-size: 18px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.price-name {
    float: right;
    color: rgb(255, 255, 255);
    /* margin-top: 10px !important; */
    font-size: 17px;
    font-weight: 700;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.drop-down {
    float: right;
    font-size: 18px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dropdown-icon,
cross-circle {
    color: white;
}

.accordion-body {
    transform: translateY(-4px);
    width: 83%;
    margin: auto;
    background-color: #0099ff;
}

.pledge {
    background-color: #17af24 !important;
    border: none;
    color: white;
    margin: 10px;
}

.pledge:hover {
    background-color: #1a9c25 !important;
    border: none;
    color: white;
    margin: 10px;
}

.pledge-icon {
    color: white;
}