@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}

.create-event-title {
    position: absolute;
    top: 30%;
    left: 11%;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.smallTitle {
    color: rgb(0, 0, 0);
    font-size: 15px;
    position: absolute;
    font-weight: 600;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
<<<<<<< Updated upstream
=======
    align-items: center;
}

.firstContent {
    position: absolute;
    font-weight: 600;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
    border-radius: 5px;
    width: 70%;
    height: 40px;
}

.secondContent {
    position: absolute;
    font-weight: 600;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
    border-radius: 5px;
    width: 70%;
    height: 40px;
}

.create-this-event {
    position: absolute;
    font-weight: 600;
    top: 1020px !important;
    left: 30% !important;
    right: 0;
    bottom: 60px;
    margin: auto;
    border-radius: 5px;
    width: 40% !important;
    height: 40px;
>>>>>>> Stashed changes
}