@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}

.portalContentContainer {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    width: 94%;
    height: 86%;
}

.plus-icon {
    color: white;
}

.join-icon {
    color: white;
}

.create-event {
    position: absolute;
    font-weight: 600;
    top: 0;
    left: 0;
    right: 0;
    /*210px */
    bottom: 670px;
    margin: auto;
    border-radius: 5px;
    width: 94%;
    height: 40px;
}

.join-event {
    position: absolute;
    font-weight: 600;
    top: 0;
    left: 0;
    right: 0; /*210px */
    bottom: 570px;
    margin: auto;
    border-radius: 5px;
    width: 94%;
    height: 40px;
}

.portalEventContainer {
    background-color: rgb(0, 161, 255);
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 280px;
    margin: auto;
    border-radius: 10px;
    width: 94%;
    height: 35%;
    padding: 50px;
    overflow-y: scroll;
}

.dashboard{
    color: white;
    margin-top: 30px;
    padding: 0px;
    width: 120vw
}
